*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f5f7fa;

}
/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: white;
    
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-links a{
    text-decoration: none;
    color: black;
}
 /* Hero */

.hero{
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(135deg,#667eea,#764ba2);
    color: white;

}
.btn{
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    background: white;
    cursor: pointer;
    font-weight: bold;
}
/* Features */
.features{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 20px;
}
.card{
    background: white;
    padding: 30px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Footer */
footer{
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}

/* Responsive */

@media(max-width:768px){
    .features{
        flex-direction: column;
        align-items: center;
    }
}
